<!-- 
<div class="ordered-abonnement-container">

    <div class="ordered_abonnements" *ngFor="let abonnement of orderedAbonnementDetailsList">
        <div class="abonnement-info">
            <img [src]="abonnement.processedImg" alt="abonnement-image" />
         </div>
         <div class="abonnement-details">
            <div class="item-row">
                <div class="item-name">
                    {{abonnement.name}}
                </div>
                <div class="item-price">
                    {{abonnement.}}
                </div>
            </div>
         </div>
    
    </div>

</div>
-->