<section class="profilesection">
    <mat-card class="profile-card">
        
        <h3>Your Profile Details</h3>
        <mat-card-content>
            <div class="bootstrap-wrapper">
                <div class="container text-center">
                    <img src="https://www.example.com/default-profile-image.png" alt="" class="profile-image">
                    <h1 class="mt20">{{ user.name }} {{ user.lastname }}</h1>
                </div>
    
                <div class="row">
                    <div class="col-md-10 offset-md-1"></div>
                    <table class="table text-center">
                        <tr>
                            <td class="label">Username</td>
                            <td class="value">{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td class="label">Email</td>
                            <td class="value">{{ user.email }}</td>
                        </tr>
                        <tr *ngIf="user.number">
                            <td class="label">Phone</td>
                            <td class="value">{{ user.number }}</td>
                        </tr>
                        <tr>
                            <td class="label">Role</td>
                            <td class="value">{{ user.roles && user.roles.length > 0 ? user.roles[0].name : 'N/A' }}</td>
                        </tr>
                        <tr>
                            <td class="label">Status</td>
                            <td class="value">{{ user.valid ? 'Active' : 'Inactive' }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </mat-card-content>
    
    </mat-card>
        <div class="cardo">
        <div class="card-header card-header-danger">
            <h4 class="card-title ">All users</h4>
            <p class="card-category"> Inscriptions</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
    
                        
                        <th>
                            name
                        </th>
                        <th>
                            username
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                           PhoneNumber
                        </th>
                     
                        
                        <th>
                          Blocked?
                        </th>
                        <th>
                          active\desactive(user)
                      </th>
                      
                    </thead>
                   
                    <tbody *ngFor="let user of users">
                        <tr >
                            
                            <td>
                              {{user.name}}
                          </td>
                            <td>
                              {{user.username}}
                          </td>
                            <td>
                              {{user.email}}
                          </td>
                          <td>
                              {{user.number}}
                          </td>
                         
                            
                          <td>
                              {{user.blocked}}
                          </td>
                            <td>
                              <button *ngIf="user.blocked"(click)="activateUser(user)" type="button" class="btn btn-primary" >Active</button>
                              <button *ngIf="!user.blocked"(click)="bloqueUser(user)" type="button" class="btn btn-danger">Bloque</button>
                            </td>
                            
                        </tr>
                   
                    </tbody>
                 
                </table>
            </div>
        </div>
    