.container {
    display: flex;
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
    height: 100vh; /* Hauteur équivalente à la hauteur de la fenêtre */
  }
  
  .form-container {
    width: 400px; /* Largeur de votre formulaire */
  }
  
h2 {
    margin-bottom: 20px;
}

.file-upload-container {
    margin-bottom: 20px;
}

.file-upload-label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.file-upload-label span {
    margin-right: 10px;
}

.image-preview {
    margin-top: 10px;
}

.circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
