
 <!-- Favicons -->
 <link href="/assets/FrontOfficeAssets/img/favicon.png" rel="icon">
 <link href="/assets/FrontOfficeAssets/img/apple-touch-icon.png" rel="apple-touch-icon">

 <!-- Google Fonts -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="/assets/FrontOfficeAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="/assets/FrontOfficeAssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 <link href="/assets/FrontOfficeAssets/vendor/aos/aos.css" rel="stylesheet">
 <link href="/assets/FrontOfficeAssets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
 <link href="/assets/FrontOfficeAssets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

 <!-- Template Main CSS File -->
 <link href="/assets/FrontOfficeAssets/css/main.css" rel="stylesheet">
 <app-navbarlogin> </app-navbarlogin>

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                            <div class="container text-center">
                    <img src="../../../assets/moi.png" alt="" />
                  </div>

                  <a class="text-center" routerLink="/forgetpassword"><h1>Mot de passe oublié ?</h1></a>
                 
                  <form (ngSubmit)="formSubmit()">
                    <!-- username field-->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input
                        [(ngModel)]="loginData.username"
                        name="username" 
                        required
                         matInput   
                         placeholder="Enter here" />
                         <mat-hint>Valid Username !!</mat-hint>
                      </mat-form-field>

                      <!-- password field-->

                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>User password</mat-label>
                        <input
                        [(ngModel)]="loginData.password"
                        name="password" 
                        type="password" 
                        required
                        matInput  
                         placeholder="Enter here" />
          
                      </mat-form-field>
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckLogin" type="checkbox" name="rememberMe" [(ngModel)]="rememberMe" (change)="onRememberMeChange()">
                        <label class="custom-control-label" for="customCheckLogin">
                          <span>Remember me</span>
                        </label>
                      </div>
                      <div class="container text-center">
                        <button mat-raised-button color="primary" type="submit"  >
                            Login
                        </button>
                        <button class="m120" mat-raised-button  color="accent">
                            Reset
                        </button>
                        <button class="m120" mat-raised-button routerLink="/signup"  color="accent">
                          Sign Up
                      </button>
                      </div>
                  </form>
                </mat-card>
                </div>


        </div>
        </div>
    </div>
    
